[2017-08-26 15:44] BalestraPatrick opened #9 "LICENSE"
Hey! I am interested in including this library into my project. Since there is no license specified, may I know what's your thought on it?
I think MIT license would make sense in this case. If you want I can open a PR by adding it 👍

[2017-08-26 15:53] Andrewangeta commented on #9
No real thoughts. Feel free to add a standard MIT License. it should be fine.

[2017-08-26 16:54] #9 closed, assigned to nobody

[2017-08-29 19:38] anthonycastelli opened #12 "Implement Stripes Ephemeral Keys"
Currently they don't have any documentation on this, however the new iOS SDK requires it.

[2017-08-29 19:40] Andrewangeta commented on #12
Maybe we should check other backend SDKs and see if and how they do it. Otherwise we should contact Stripe for some guidance.

[2017-08-29 19:41] anthonycastelli commented on #12
I just reached out to them again. They said they were hoping to have the documentation done sometime by the end of the month, if they got it all working. From the sound of it, this is all experimental, but doesn't make sense as to why they would release it.

[2017-08-30 00:26] Andrewangeta opened #13 "Provide default values for all route initializers."
Currently when initializing a route service optional values don't have a default of `nil` and the initializer can sometimes looks like this:
[code]

ideally when you only have to pass in parameters that you care about, it should look cleaner and easier to read.

[code]

[2017-08-30 00:35] Andrewangeta opened #14 "Replace Node in route initializers and specify a stronger type to then convert to Node"
Routes only take In Nodes for collection types like JSON, Arrays of JSON, Dictionaries, Arrays etc. It's worth adding the specific type we're looking for in the parameter list and then convert it to node inside the api call. This would help make the API more easier to use and leaves out the guessing of what type the API is looking for. For example

This
[code]

would become this

[code]

[2017-09-10 20:20] #13 closed, assigned to nobody

[2017-10-01 01:47] geeksweep commented on #12
thanks guys! Yeah if you want to use their built in elements, along with the CustomerContext, you need to generate this key so the context can do all the updating to the customer you have stored in your DB. I talked with @anthonycastelli about this this evening.

[2017-10-07 15:59] damirstuhec commented on #12
Hey guys! I just ran into this as well. As @geeksweep said, generating the ephemeral key is now required. Do we have any updates on this? Is there a way I can help?

[2017-10-07 18:45] anthonycastelli commented on #12
Currently the only way around this is to use an older version of the Stripe library for iOS and Android. Currently Stripe doesn't have documentation on this new system so i'm completely in the dark with implementing it. I haven't had much time to sit down and start going through Stripe's other libraries and figure out what they are doing.

[2017-10-08 07:54] damirstuhec commented on #12
@anthonycastelli Yeah, I see. You probably saw this already but seems like their official libraries for other languages like `php` already have support for ephemeral key creation: https://github.com/stripe/stripe-php/search?utf8=%E2%9C%93&q=EphemeralKey&type=. Maybe this can help?

[2017-10-08 07:58] damirstuhec commented on #12
Or this from their ruby lib: https://github.com/stripe/example-ios-backend/blob/master/web.rb#L18, https://github.com/stripe/stripe-ruby/blob/234b0809bfd737f7a8ddf215d23e15cab6efc741/lib/stripe/ephemeral_key.rb.

[2017-10-08 13:55] Andrewangeta commented on #12
I think it'll be best if we just wait for official docs. We don't wanna implement it and then have to go back and change it.

[2017-10-11 12:54] damirstuhec commented on #12
@Andrewangeta @anthonycastelli I just talked with Stripe engineer on their freenode irc chat, and he said that they do not really intend to add a documentation for Ephemeral Keys, since the implementation is so simple and can be easily replicated based on the existing libraries that are officially supported (the ones I linked above).

So do we still want wait for the docs (which might not happen s

[2017-10-11 13:13] vzsg commented on #12
Isn't it just a simple HTTP POST request? The Ruby version seems very simple.

[2017-10-11 13:14] damirstuhec commented on #12
@vzsg Seems like it, yes.

[2017-10-11 13:23] Andrewangeta commented on #12
If they’re dragging their feet on the docs, I think we can go ahead and implement this feature if the other libraries are straight forward.

[2017-10-17 09:19] damirstuhec commented on #12
Anyone on this already or should I take a stab at it?

[2017-10-17 16:27] anthonycastelli commented on #12
@damirstuhec I know I am quite busy right now and just haven't had a chance to really work with this library. If you could submit a PR for it, that would be great!

[2017-10-17 17:15] Andrewangeta commented on #12
Oh yea i forgot about this. it seems pretty straight forward. I could try to get it done by tonight, some other projects I’m working on are on hold for now so I’d be free.

[2017-10-17 21:44] damirstuhec commented on #12
@Andrewangeta That would be awesome.

[2017-10-17 21:48] Andrewangeta commented on #12
Yea I’ll be home in a couple hours and I’ll get started

[2017-10-18 03:08] anthonycastelli commented on #12
@Andrewangeta took care of this issue with PR #19

[2017-10-18 03:08] #12 closed, assigned to nobody

[2017-11-30 09:57] TheSwiftyCoder opened #21 "Few bugs"
`try drop.addProvider(Stripe.Provider.self)` - No longer works,

`try StripeClient(apiKey: key).account.create(type: .standard, email: user.person.email, country: user.person.address.country, metadata: node).serializedResponse()` - returns a `Thread 2: Fatal error: Unexpectedly found nil while unwrapping an Optional value`

[2017-11-30 10:04] TheSwiftyCoder commented on #21
Sorted!

[2017-11-30 10:04] #21 closed, assigned to nobody

[2017-11-30 16:33] TheSwiftyCoder opened #22 "Additional owners: European issue"
In Europe, Stripe always requires that you provide information about additional owners of the company and this is documented [here|https://stripe.com/docs/connect/updating-accounts#additional-owners]. You can have up to 4 additional owners as they need anyone owning 25% or more but you don't always have 4.

In the event of 0 additional owners the field still needs to be populated similar to the PH

[2017-12-12 13:36] damirstuhec opened #23 "Collecting platform fees with Connect destination charges"
As already discussed with @anthonycastelli and @Andrewangeta, the platform fee collection when creating destination charges is currently broken.

[The documentation](https://stripe.com/docs/connect/destination-charges#collecting-platform-fees) says that this should be achieved by simply specifying the total `amount`, together with `destination[account]` and `destination[amount]` where latter shoul

[2018-02-26 23:31] #23 closed, assigned to nobody

[2018-03-07 19:23] kimdv opened #25 "Support for Vapor 3"

[2018-03-07 19:38] Andrewangeta commented on #25
There’s a vapor 3 branch. It’ll be merged to master once V3 is released.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-03-07 19:40] #25 closed, assigned to nobody

[2018-03-22 18:16] Andrewangeta commented on #14
No more node is Vapor 3. Only Version 2.0 of the library will be maintained going forward.

[2018-03-22 18:16] #14 closed, assigned to nobody

[2018-04-11 10:51] tarikstafford opened #33 "DecodingError.keyNotFound: Value required for key 'error'."
func createCustomerId(_ req: Request) throws -> Future<StripeCustomer> {

        return try req.content.decode(StripeCustomer.self).flatMap(to: StripeCustomer.self, { user in
            let response = try req.make(StripeClient.self).customer.create(email: user.email)
            return response
        })
    }
}

Works perfectly, but the response is an error? Not sure where it's catching or mis

[2018-04-11 12:16] Andrewangeta commented on #33
In your dashboard no error is thrown correct for the api calls?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-04-11 12:22] tarikstafford commented on #33
Yeah @Andrewangeta 0 errors.

[2018-04-11 12:26] Andrewangeta commented on #33
Can you put a breakpoint in StripeRequest.swift at the guard statement for serialized response and check the status code? I was using the customer API and it worked fine. Might be related to the issue here
 https://github.com/vapor/vapor/issues/1610

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-04-11 12:26] Andrewangeta commented on #33
There’s a fix for the status codes being set but it hasn’t been tagged yet is all.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-04-11 12:32] tarikstafford commented on #33
200

![screen shot 2018-04-11 at 6 00 59 pm 2](https://user-images.githubusercontent.com/23550083/38616643-5ee78bfe-3db2-11e8-906f-75dd5e221757.png)

[2018-04-11 12:33] Andrewangeta commented on #33
Yea it’s part of the fix in Vapor that wasn’t tagged yet. The response code is 200 but see the type is _.custom_ enum and not the _.ok_ enum.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-04-11 12:36] tarikstafford commented on #33
Cool thanks 👍

[2018-04-12 07:53] tarikstafford commented on #33
@Andrewangeta is there a work around I could use for now? I want to test the responses :)

[2018-04-12 11:00] Andrewangeta commented on #33
@thelittlelankanprince add this line to `FoundationClient.swift`
https://github.com/vapor/vapor/blob/8a81713d84b4547c2fe47b21fbdfed0d0ed6d8f3/Sources/Vapor/HTTP/FoundationClient.swift#L80-L81

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-04-13 06:37] tarikstafford commented on #33
@Andrewangeta Hey Andrew,

ran into the following error when fetching ephemeral key:

'Dictionary<String, Any>' required for key 'associated_objects'. (EngineServer.swift:144)

Even though the associated_objects dictionary sent by the stripe API is [String:String].

[2018-04-13 10:02] Andrewangeta commented on #33
I’ll take a look

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-04-13 10:10] Andrewangeta commented on #33
@thelittlelankanprince can you paste a print out of the response you're getting from stripe?

[2018-04-13 10:17] tarikstafford commented on #33
{
  "id": "ephkey_1CGLNPLmoeRLuBpIcXOe9grJ",
  "object": "ephemeral_key",
  "associated_objects": [
    {
      "type": "customer",
      "id": "cus_Cfg1fQ0U7ok0x4"
    }
  ],
  "created": 1523600835,
  "expires": 1523604435,
  "livemode": false,
  "secret": "ek_test_***FMDY"
}

[2018-04-13 10:19] Andrewangeta commented on #33
oh I see, it's an array of dictionary values not a dictionary value itself. This annoys me because Ephemeral Keys are not documented anywhere in their API.

[2018-04-13 10:26] Andrewangeta commented on #33
Should have a new version out within the next hour. Stand by.

[2018-04-13 10:26] tarikstafford commented on #33
@Andrewangeta cheers!

[2018-04-13 11:47] Andrewangeta commented on #33
A vapor update should get you the fix

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-04-13 13:20] tarikstafford commented on #33
@Andrewangeta all sorted!

[2018-04-16 18:41] anthonycastelli commented on #33
I think it's safe to close this issue as it will be resolved with Vapor in the future.

[2018-04-16 18:41] #33 closed, assigned to nobody

[2018-04-16 18:42] Andrewangeta commented on #33
Sounds good to me 👍🏽

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-04-19 17:41] anthonycastelli commented on #22
@Andrewangeta Is this issue pertinent with Stripe Provider 2.0?

[2018-04-19 18:39] Andrewangeta commented on #22
I didn’t account for this as I never understood why this is the case.

[2018-05-10 13:19] tarikstafford opened #38 "When I update the package I don't get the latest pull"
I even fresh installed with Vapor 3.0 and the stripe provider package and the changes still aren't showing in the stripe folder. Also downloaded the latest zip, and it's the same.

![screen shot 2018-05-10 at 6 46 50 pm](https://user-images.githubusercontent.com/23550083/39871554-dfe5bb86-5482-11e8-9314-370801865dbd.png)
![screen shot 2018-05-10 at 6 49 04 pm](https://user-images.githubusercontent

[2018-05-10 13:20] tarikstafford commented on #38
don't get this code:

[code]

[2018-05-10 13:49] Andrewangeta commented on #38
@anthonycastelli do you need to retag a release with the changes?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-05-10 16:09] anthonycastelli commented on #38
It should of been retagged. Let me just create a new one. 🤷‍♂️

[2018-05-10 16:11] anthonycastelli commented on #38
Run `vapor update -y` and see if that works. I tagged it as 2.0.6. If the issue persists, feel free to reopen this issue

[2018-05-10 16:11] #38 closed, assigned to anthonycastelli

[2018-05-11 05:58] tarikstafford opened #39 "Content-Type error from Stripe API"
Hey guys,

Sorry to bother, another issue. I am getting an error response from the stripe API declaring a content-type error. Not sure what the issue is, will try and do some digging.
[code]

[2018-05-11 06:07] #39 closed, assigned to nobody

[2018-05-11 06:18] Andrewangeta commented on #39
What was the issue?

[2018-05-11 06:24] tarikstafford commented on #39
@Andrewangeta I still don't know. I am trying to solve it, but closed it till I do more digging.

[2018-05-11 06:38] tarikstafford commented on #39
@Andrewangeta did a fresh vapor proj to test it and it's also not working so it must be an issue with the new StripeRequest being sent to the StripeAPI.

[2018-05-11 09:13] tarikstafford commented on #39
@Andrewangeta
[code]
this at least doesn't get an error but the content does not go through.

[code]

[2018-05-11 11:12] Andrewangeta commented on #39
@tarikstafford I know the issue. Pushing a fix now.

[2018-05-11 11:17] Andrewangeta commented on #39
@tarikstafford `2.0.7` tag should fix the issue.

[2018-05-12 01:18] foscomputerservices opened #41 "Source.type missing crash"
Quite possibly I've misunderstood something as I'm very new to Stripe.  I've followed the docs on [Checkout](https://stripe.com/docs/checkout) and then the docs on [Creating Charges](https://stripe.com/docs/charges) and successfully retrieved my 'Strip token.  I then make the following call to stripe-provider:

[code]

According to Stripe's website the charge is successful.  However, StripeSource.

[2018-05-12 12:32] Andrewangeta commented on #41
@foscomputerservices So I think I know the problem.
When you make a charge the response returned has a source attached to it _BUT_ that source doesn't have a `type` property but Sources themselves have a type property. I'll reach out to Stripe to see if they can add a type property to the response when completing charges. But for now I think I'll just check the `object` property to see if I can pa

[2018-05-12 18:59] anthonycastelli commented on #41
#43 should fix this, right?

[2018-05-12 19:00] Andrewangeta commented on #41
@foscomputerservices For now when a source is returned with no type it won't populate until we find a better way to represent a source as anything other than the `Any` type.

[2018-05-12 19:00] #41 closed, assigned to nobody

[2018-05-12 20:06] foscomputerservices commented on #41
Thanks for the fix!!

[2018-05-23 20:53] anthonycastelli opened #44 "Creating a Charge doesn't allow specifying `Stripe-Account`"
The parameter for the `Stripe-Account`header when using the `application_fee` isn't present when creating a charge

https://github.com/vapor-community/stripe-provider/blob/f4b81a73fb4818ceecb95456e9b3b940600f1da0/Sources/Stripe/API/Routes/ChargeRoutes.swift#L33-L47

[2018-06-12 21:28] Andrewangeta opened #46 "Only have optional properties on models where they are truly optional."
Currently for all the stripe models all the properties are optional. This doesn't need to be the case anymore since the library is in a solid state right now. Slowly but surely we can start removing optional types from properties that are guaranteed by the API like `id` and `object` for example.

[2018-06-17 19:00] Andrewangeta commented on #44
Handled here
https://github.com/vapor-community/stripe-provider/pull/47/commits/1e7abbcbe6145d68c8092b141c36b211b98ff4d4

[2018-06-17 19:01] Andrewangeta commented on #46
Handled here
https://github.com/vapor-community/stripe-provider/pull/47

[2018-06-17 19:01] #46 closed, assigned to Andrewangeta

[2018-06-18 00:11] #44 closed, assigned to anthonycastelli, Andrewangeta

[2018-06-18 00:12] anthonycastelli commented on #22
Closing this

[2018-06-18 00:12] #22 closed, assigned to nobody

[2018-06-18 14:16] Andrewangeta opened #48 "Add metadata protocol to encode custom structs as part of requests."
Quoting @anthonycastelli

"One thought I had regarding metadata for Stripe is why don't we create a basic protocol, i.e.
[code]
then we can be more explicit with metadata. Right now I have a bunch of integers and optionals that I have to convert for my metadata into a string dictionary, it'd be nice to just create a struct, then populate that.
[code]
[code]
At this point we could then serialize th

[2018-06-18 14:17] Andrewangeta commented on #48
I think this is possible to do. And would be a good approach going forward.

[2018-07-03 19:51] proggeramlug opened #50 "Multiple Stripe Accounts"
I have a strange request, but it's a thing:

So I have a service that will charge different stripe accounts. How should the config be configured for that? We need some kind of a way to either replace the given stripe config - or to use multiple configs at the same time.

As of right now it does not look like either the Vapor-Services nor the structure of this package allow for that.

Any suggestio

[2018-07-04 15:07] Andrewangeta commented on #50
@proggeramlug
Do you know if any of Stripes official libraries support this?

[2018-07-04 15:16] proggeramlug commented on #50
@Andrewangeta The PHP library has a global variable that you can adjust whenever you want. Like you just set another set of variables in this case:
https://github.com/stripe/stripe-php

Python makes you add the configuration to every request:
https://github.com/stripe/stripe-python

And in NodeJS you can simply reinitialize the stripe object with a new config:
https://github.com/stripe/stripe-node

[2018-07-04 16:26] Andrewangeta commented on #50
@proggeramlug  Yea we'll have to investigate it a little more to figure out an approach. I see the value though.

[2018-07-20 15:45] lukenewman opened #52 "Better Setup Walkthrough"
The README would benefit from a more in-depth setup explanation.

For example, I added the Package line, ran `vapor update`, regen'd the xcodeproj, and then tried the setup steps, but I don't know what to import. Tried `Stripe`, `StripeProvider`, and `StripeClient` to no avail. Also, I think the "Register the config and the provider to your Application" code example could be explained better. Does

[2018-07-20 16:07] Andrewangeta commented on #52
@lukenewman did you make sure to add Stripe to the dependencies?
Also the import is just Stripe.
The configure goes in where you want. Usually it might go into configure.swift or app.swift depending on how you use it.

[2018-07-20 17:39] lukenewman commented on #52
@Andrewangeta Thanks for the quick response!

Still curious about this line: `stripeClient = try app.make(StripeClient.self)`.

Does that go in controllers/functions where you need to use the library?

I tried putting it in a route handler and got the following error: `Value of type '(Environment) throws -> Application' has no member 'make'`

I plan on opening a README-updating PR for this, so any

[2018-07-20 17:40] lukenewman commented on #52
<img width="955" alt="screen shot 2018-07-20 at 1 39 54 pm" src="https://user-images.githubusercontent.com/5315645/43016912-6b3a09c2-8c22-11e8-8eaa-b169b6020f2b.png">

[2018-07-21 21:44] anthonycastelli commented on #52
@lukenewman It should be
[code]

[2018-07-28 17:10] #52 closed, assigned to nobody

[2018-08-06 21:31] lukenewman opened #53 "[ ERROR ] DecodingError.keyNotFound: Value required for key 'sources.data.Index 0.client_secret'"
Getting the above error from the Stripe API when creating a new `Customer`. To the creation call, I'm passing in an email and a token source. Here's the code for the endpoint that's being hit:

[code]

[2018-08-06 21:48] Andrewangeta commented on #53
@lukenewman I’ll go ahead and fix this.

[2018-08-09 22:13] lukenewman commented on #53
@Andrewangeta Is there any update on this?

[2018-08-09 22:17] Andrewangeta commented on #53
@lukenewman Gimme 15 minutes max, I'll have a new release ready.

[2018-08-09 22:18] lukenewman commented on #53
@Andrewangeta 🙌🏻

[2018-08-09 22:27] Andrewangeta commented on #53
Fixed with https://github.com/vapor-community/stripe-provider/pull/54

[2018-08-09 22:27] #53 closed, assigned to nobody

[2018-08-26 11:51] lukenewman opened #59 "Nullable Source "creation" Date"
I ran into this decoding error when trying to make a charge: `Value required for key 'source.created'.`

The code that got me there was the following:

[code]

I can fix it by changing the `created` var in `Source.swift` to an optional and its decoding line to `decodeIfPresent`. I'd open a PR for it but I don't have write access. Let me know how you'd like to progress. Thanks!

[2018-08-26 11:57] Andrewangeta commented on #59
Thanks I’ll go ahead and get this merged in! At first all stripe model properties were optional but that was a little annoying having to unwrap everything first so we made certain assumptions that some properties would never be null/nil from the api like `livemode` `id` `object` etc. thought this would be one of them.

[2018-08-26 11:59] lukenewman commented on #59
Gotcha. Thanks Andrew!

[2018-08-30 14:25] lukenewman commented on #59
@Andrewangeta FYI -- `flow`, `livemode`, `status`, `usage`, and `type` also need to be Optionals. I've attached my patched `Source.swift`.

[Source.swift.zip](https://github.com/vapor-community/stripe-provider/files/2336566/Source.swift.zip)

[2018-09-01 16:54] Andrewangeta commented on #59
@lukenewman Is there ever a time when livemode will be null?

[2018-09-02 22:31] #59 closed, assigned to Andrewangeta

[2018-09-04 19:53] lukenewman commented on #59
@Andrewangeta Not sure. Thanks for fixing them all!

[2018-09-13 17:41] JamesCoonce opened #63 "Documentation"
There is a lack of documentation or started application that shows how to properly use this package.

[2018-09-13 20:18] JamesCoonce opened #64 "Unable to retrieve list of customers"
Unable to retrieve a list of customers.

Error:
[code]
    func index(_ req: Request) throws -> Future<StripeCustomersList> {
        let client = try req.make(StripeClient.self)
        print(client)
        return try client.customer.listAll()
    }
[code]

[2018-09-13 20:28] Andrewangeta commented on #64
I’ll get an update out today fixing these issues.

[2018-09-13 22:23] JamesCoonce commented on #64
Thanks, I appreciate it. I'd like to start writing documentation soon along with a few tutorials

[2018-09-14 03:37] Andrewangeta opened #66 "Add file upload support."
Add support for file uploads and file links.

[2018-09-15 16:41] anthonycastelli commented on #64
@Andrewangeta Have you looked into this one?

[2018-09-15 16:54] Andrewangeta commented on #64
it's the optional stuff @anthonycastelli  all should be fixed in 2.2.0 release.

[2018-09-15 23:20] anthonycastelli commented on #64
This is now fixed and will be addressed in the upcoming release.

[2018-09-15 23:20] #64 closed, assigned to nobody

[2018-09-15 23:21] anthonycastelli commented on #63
What is it you are particularly looking for? Anything specific. There isn't much to it once you initialize it. From that point it's just a matter of the data you wish to fetch or push to stripe.

[2018-09-15 23:22] #66 closed, assigned to Andrewangeta

[2018-09-18 15:45] baarde opened #68 "Typo in Customer.bussinessVATId"
### Update (2018-09-26)

The problem is actually due to a typo in `Customer.bussinessVATId`.

Please disregard the end of this comment.

------

The VAT information isn't encoded and decoded anymore.

[Source](https://stripe.com/docs/api#update_customer-tax_info)

[2018-09-18 15:46] baarde commented on #68
I'll try to submit a PR before next week.

[2018-09-18 16:38] baarde opened #69 "URL query injection"
When submitting a request, the query parameters are concatenated without any kind of percent encoding.

* Values that contain `+` (e.g. `+1 (505) 503-4455`) contain spaces instead.
* Values that contain `&` (e.g. `Hamlin, Hamlin & McGill`) are truncated.
* An attacker may be able to add or change parameters in any request that accepts an arbitrary value submitted by the user (e.g. a valid email ad

[2018-09-18 16:39] baarde commented on #69
I'll try to submit a PR before next week.

[2018-09-19 17:46] #69 closed, assigned to nobody

[2018-10-02 15:38] #68 closed, assigned to nobody

[2018-10-02 22:37] JamesCoonce opened #75 "Make Models Parameterizable"
The models don't extend Parameterizable which causes the user to have to extract each parameter individually in the request and then set them to model creation. This is very verbose.

[2018-10-06 20:21] JamesCoonce opened #76 "Concrete Routes Don't Allow Optional Values"
I ran into the issue of trying to create a customer with only an email and description. Normally most parameters are optional. This is true in the Model and also in the protocol for CustomerRoutes.swift. The issue lies in the fact that the implementation StripeCustomerRoutes doesn't set the optional values to = nil like the extension of the protocol. This causes the parameter to be required or els

[2018-10-06 20:50] Andrewangeta commented on #76
That shouldn’t be the case and works fine for me. Even in my test cases. If you look at `Provider.swift`all of the route properties are using the protocol type rather than the concrete type. So those default implementations with `nil` being the default value should work fine.

[2018-10-06 20:55] Andrewangeta commented on #76
This compiles fine for me
[code]

[2018-10-06 20:57] Andrewangeta commented on #75
@JamesCoonce Are you initializing using Codable? That's the strategy we're going forward with since Most of Vapor itself doesn't rely heavily on initialization via `init` but rather opts for codable.

[2018-10-06 21:01] JamesCoonce commented on #76
Hmmmm. That's strange

[code]

[code]

[2018-10-06 21:03] Andrewangeta commented on #76
You sure you have the latest version of the provider?

[2018-10-06 21:06] JamesCoonce commented on #76
.package(url: "https://github.com/vapor-community/stripe-provider.git", from: "2.2.0"),

[2018-10-06 21:16] Andrewangeta commented on #76
That's interesting. I have no idea why you're getting a compile error. Get rid of the build folder, delete `Package.resolved` and try to do a package update. Maybe you have a really old version still.

[2018-10-06 21:28] Andrewangeta commented on #75
Closing because All the models are initialized by the API and for mocking or anything like that in test cases consider the following approach

[code]

[2018-10-06 21:28] #75 closed, assigned to nobody

[2018-10-06 21:32] Andrewangeta commented on #76
A new version of the provider was just released also. Although those changes were in previous release try the latest and see if that helps `2.2.1`
https://github.com/vapor-community/stripe-provider/releases/tag/2.2.1

[2018-10-06 22:23] JamesCoonce commented on #76
.package(url: "https://github.com/vapor-community/stripe-provider.git", from: "2.2.1"),

In  Package.resolved

[code]

.build was also delete

This is the output.

[code]

[2018-10-10 17:54] Andrewangeta commented on #76
Where you able to figure this out? I don’t think anyone else has had this problem.

[2018-10-17 15:31] baarde opened #80 "Upcoming Invoice has no id"
When retrieving the upcoming invoice for a customer, the decoding fails as the response does not contain an id for the upcoming invoice (the invoice does not exist yet).

I see several ways to solve that issue but they're all bad:
* Make `Invoice.id` optional. (but it's inconsistent and breaks source compatibility)
* Add a new `UpcomingInvoice` type. (but it's inelegant)
* Implement `init(from:)`

[2018-10-17 15:48] Andrewangeta commented on #80
That doesn’t make sense. There should always be an id for a model type 🤔

[2018-10-17 18:00] anthonycastelli commented on #80
I've never heard of such a thing. Do you have an example JSON payload you can show us? If you do, i'l like to contact stripe about this and see what they say

[2018-10-18 15:54] baarde commented on #80
Here's what I get from `https://api.stripe.com/v1/invoices/upcoming?customer=cus_DnV6VISHNLWp3u&subscription=sub_DoG9rVZ9yGQcmv`:

[code]

I've found the following resources:
* [Stack Overflow: Stripe.net upcoming invoice id is null when fetching with .Net library
](https://stackoverflow.com/questions/47046786/stripe-net-upcoming-invoice-id-is-null-when-fetching-with-net-library)
* [Stripe API: De

[2018-10-18 16:02] Andrewangeta commented on #80
Ahhhhhh I see I see
I’d be ok with making it optional and writing a comment about that SO answer as a reference.

[2018-10-18 16:02] anthonycastelli commented on #80
Hmm. That’s is really strange. Is this through the Webhooks?

Sent from my iPhone

[2018-10-18 17:04] #80 closed, assigned to nobody

[2018-10-28 19:28] anagpal1990 commented on #39
Hi Team, did we get any fix to this issue, i'm still getting same error in response from API call from Stripe.

[2018-10-29 05:05] anthonycastelli commented on #39
@anuj-inecta What version of the provider are you running? This should of been resolved long ago.

[2018-10-29 05:37] anagpal1990 commented on #39
Hi @anthonycastelli , thanks for revert..
Actually, we got this issue while running the App Monetization code which integrates Dynamics 365 Business Central with Stripe. Same code was working fine earlier but suddenly it started giving this error.
Lucking, after some digging yesterday, i found one bug in the code for web request call and fixed the issue.

[2018-11-14 21:05] mohsinJanjua commented on #39
Hi @anuj-inecta
I'm facing exactly same issue. the code for app monetization was working fine. then we upgraded to the October release of Business Central and it is now giving me this issue. Can you please tell me what exactly was the probelm? It will be a great help.
Thank you in advance.

[2018-11-15 06:04] anagpal1990 commented on #39
Hi @mohsinJanjua , there was a small bug in the code that i found.
If you see in Cod50298.StripeWebService.al, there is one line of code `Arguments.SetRequestContent(RequestContent)`. Here it was called before setting Header "Content Type". So later, when `If not CallWebService(Arguments) then` is called, it didn't had the `Content-Type` set.
I also checked for API logs on stripe portal and it was

[2018-11-15 19:22] mohsinJanjua commented on #39
Thanks a lot, @anuj-inecta  :)

[2018-11-26 00:29] #76 closed, assigned to nobody

[2018-11-28 02:12] anthonycastelli opened #84 "Fix Refunds for connect accounts"
I currently have this implemented locally, just have to test it. I should get this moved over to a separate branch.

[2019-01-05 19:30] anthonycastelli commented on #84
Gonna get this finished up here this coming week

[2019-02-28 20:16] Andrewangeta commented on #84
Did this ever get finished 🧐?

[2019-03-02 02:46] anthonycastelli commented on #84
I had completely forgot about this. I need to figure out what Stripe needs. I'll tackle it this week. Gotta finish ups few things this weekend.

[2019-03-06 15:37] NSMutableString commented on #63
It should indeed by handy if there was some more information about if you need to add some javascript to your page or not. For me the test payment is done directly, but I was expecting to see some stripe screen to enter some test card data. No? Or does this come magically when you will use the live key?

[2019-03-06 18:30] NSMutableString opened #94 "[ ERROR ] DecodingError.valueNotFound - Token issue"
after the payment looks successful, i am redirected to a page where i get following error.

`{"error":true,"reason":"Value of type 'String' required for key 'token'."}`

in the console log, i also see:

`[ ERROR ] DecodingError.valueNotFound: Value of type 'String' required for key 'token'. (ErrorMiddleware.swift:26)`

i launch the stripe popup via the following simple integration they explain at:

[2019-03-06 18:31] Andrewangeta commented on #94
@NSMutableString Can you paste what code you're using in Vapor?

[2019-03-06 18:43] NSMutableString commented on #94
i included the relevant pieces of code. I make use of leaf templating.

[fat-burning.leaf.txt](https://github.com/vapor-community/stripe-provider/files/2937802/fat-burning.leaf.txt)
[routes.swift.txt](https://github.com/vapor-community/stripe-provider/files/2937803/routes.swift.txt)

[2019-03-06 18:49] Andrewangeta commented on #94
@NSMutableString change the property to `stripeToken` on your model. that's the property name stripe actually uses. The one in the README is just an example name for a property one might send to the backend via mobile sdk or manipulated in some other way etc.

[2019-03-06 18:51] Andrewangeta commented on #94
Also stripe is sending the `stripeToken` via form so it might have to be decoded in a different way than JSON. Not entirely sure I don't use forms very often.

[2019-03-06 18:57] NSMutableString commented on #94
Working fine after rename. I assumed i could just copy paste the code from the README. I will send a PR for that. ;-)

[2019-03-06 19:06] #94 closed, assigned to nobody

[2019-03-11 22:29] Joebayld opened #96 "Conform StripeError to AbortError"
I have error middleware in place so that my API gets properly formatted errors. When trying to conform the StripeError to AbortError, the responses are still in the format of StripeErrors. Any insight on this?

I tried the following:

[code]

For some reason, I'm also getting status code 200 for errors..

[2019-03-11 22:57] Joebayld commented on #96
After talking to the vapor folks.. StripeError is conforming to ResponseEncodable and as of Vapor 3.3.0 this will by default return the StripeError and not my custom implementation.

To fix this.. we need to make the StripeError either not conform to ResponseEncodable or to make it properly format the response (this should be user configurable)

One option would be to make StripeAPIError conform t

[2019-03-12 21:48] Joebayld opened #97 "Add webhooks support"
I'm looking to add support for Webhooks. Has there been discussion on how we want to implement this?

It seems like the events use roughly the same models that we already have, just needs some parent data. I have a rough implementation already. I think we need some sort of StripeAPIResponse object to handle decoding (mainly the unix timestamps).

Should we start a new branch for this?

[2019-03-12 21:51] Andrewangeta commented on #97
We’re planning on implementing the rest of the entire API (including webhooks) for the new version with Vapor 4.
Once the first Vapor 4 Alpha is available we’ll start work on that because we’ll be doing a lot of documentation and some api changes where it makes sense etc.

[2019-03-12 21:53] Joebayld commented on #97
Got it. I'll keep what I have internal then and wait for Vapor 4 to get released! Thanks

[2019-03-16 21:04] Andrewangeta opened #98 "NIO based Stripe Client"

[2019-03-16 21:09] Andrewangeta commented on #98
**TODO**
Implement the following APIs:
- [ ]  Events
- [x] PaymentIntents
- [x] Sessions
- [x] Usage records
- [x] Application fee refunds
- [x] Application fees
- [x] Country Specs
- [x] External Accounts
- [x] Top-Ups
- [x] Reviews
- [x] Value lists
- [x] Value lists items
- [x] Connection Tokens
- [x] Locations
- [x] Readers
- [x] Scheduled queries
- [ ] Webhook endpoints

Cleanup:
- [x] Remove

[2019-03-18 20:18] anthonycastelli commented on #98
I think you've covered everything here so far 👍 If I think of anything I'll add it in 😊

[2019-05-14 14:23] zachwick commented on #50
Sorry to resurrect a dormant thread, but while this behavior exists in some other Stripe client libraries, using this behavior to create Charge objects (or otherwise interact with the Stripe API) in the context of different Stripe accounts isn't really something that Stripe wants integrations to be doing. The canonical way to have one codebase interact with multiple Stripe accounts is to make use

[2019-05-14 14:28] proggeramlug commented on #50
@zachwick I'm fully aware of Stripes capabilities and how this is supposed to work on a big scale. We are using stripe for some orders in our app (www.fuelish.de ) and have an order processing service that is doing that for us.

We have a small number of merchants (currently just one) that needs to process orders through the app. All of the stripe accounts are maintained by the merchant but we get

[2019-05-14 14:36] Andrewangeta commented on #50
Hmmmmm so it sounds like merchants create their own accounts but give you access? What would be the point of them creating their own accounts at that point?

[2019-05-14 14:37] Andrewangeta commented on #50
Unless their accounts aren’t dependent of your business.

[2019-05-14 14:37] proggeramlug commented on #50
For them to receive the money and us not being involved in the money part at all? :)

[2019-05-14 14:38] proggeramlug commented on #50
Either Stripe Connected Accounts or the money going through our stripe account will add significant overhead in terms of liability, legal responsibility, and management - compared to just use their accounts.

[2019-05-14 14:42] Andrewangeta commented on #50
You can still do the same with standard connect accounts right? All the responsibility will be with them and the fees etc will be on the business not you. Standard or express might be worth looking into. https://stripe.com/docs/connect/accounts

[2019-05-14 14:45] proggeramlug commented on #50
@Andrewangeta does this current stripe package here provide functionality for connected accounts? the other thing is that it stripe connected accounts come with fee's for the platform: https://stripe.com/connect/pricing

how would that be worth it for less than 5 accounts total? I'd much rather just have their credentials used for this and don't have to pay the fees nor deal with the money at all.

[2019-05-14 14:50] zachwick commented on #50
@proggeramlug That makes sense, but is not an integration path that Stripe encourages. Using Connect, while it does require a small amount of additional engineering work, ensures that your integration and use of Stripe's products (and your client's use of Stripe's products) is in compliance with the Stripe TOS/SSA and all that. At some point, this copy-and-paste of your client's API keys will get

[2019-05-14 14:52] proggeramlug commented on #50
@zachwick so standard accounts are free? okay cool, we might do that at some point. for right now we only have one merchant and there is no point to over-engineer this quite yet. we'll cross that bridge when we get there.

[2019-05-14 14:53] zachwick commented on #50
@proggeramlug Sounds perfect! Feel free to reach out to me over email (zwick@stripe.com) if you have questions about using Connect or want feedback on a proposed design.

[2019-05-14 14:55] proggeramlug commented on #50
@zachwick thank you! :)

@Andrewangeta is connected accounts in this library currently available? It looks like it is.

[2019-05-14 14:55] Andrewangeta commented on #50
Yep the standard accounts with connect are supported

[2019-05-14 14:56] proggeramlug commented on #50
Perfect, I'll close this issue for now as it looks like that is a valid work-around.

[2019-05-14 14:56] #50 closed, assigned to nobody

[2020-04-10 21:46] Andrewangeta commented on #98
This has been addressed with [StripeKit](https://github.com/vapor-community/stripe-kit)

[2020-04-10 21:46] #98 closed, assigned to Andrewangeta

[2020-04-10 21:47] Andrewangeta commented on #97
This was added in StripeKit [here](https://github.com/vapor-community/stripe-kit/pull/26)

[2020-04-10 21:47] #97 closed, assigned to nobody

[2020-04-10 21:48] #96 closed, assigned to nobody

[2020-04-10 21:48] #84 closed, assigned to anthonycastelli

[2020-04-10 21:49] #63 closed, assigned to nobody

[2020-04-10 21:50] Andrewangeta commented on #48
I think it'll be good to still allow just `[String: String]` for now until we get a lot of demand for it.

[2020-04-10 21:50] #48 closed, assigned to nobody

[2020-11-08 17:51] kschins opened #123 "Charges list request fails due to trailing /"
When trying to retrieve a list of all charges for a customer, the network request with Stripe fails due to a trailing / in the URL. v1/charges/ is invalid and should be v1/charges.

According to the Stripe API logs,

`{
  "error": {
    "message": "Unrecognized request URL (GET: /v1/charges/). If you are trying to list objects, remove the trailing slash. If you are trying to retrieve an object, ma

[2020-11-09 07:12] Andrewangeta commented on #123
@kschins This was fixed in Stripekit [here](https://github.com/vapor-community/stripe-kit/pull/111/files).
You should be able to get the latest patch fix by updating your swift package to the latest.

[2020-11-09 20:47] kschins commented on #123
Awesome, thank you!

[2020-11-09 20:47] #123 closed, assigned to nobody

[2021-09-20 09:49] svanimpe opened #127 "Unable to prefill customer email when creating a checkout session"
If I set the `customerEmail` property when creating a checkout session, I get the following error when triggering my route:

`{"error":true,"reason":"Value of type 'UnkeyedDecodingContainer' required for key 'customerDetails.super'."}`

Why does this happen? Based on the following information from the Stripe API docs, this should just prefill the email, no?

[code]

[2021-09-20 10:59] Andrewangeta commented on #127
@svanimpe Are you using swift 5.5 by any chance?

[2021-09-20 11:23] svanimpe commented on #127
I'm using Swift 5.4.2 on macOS 11.5

[2021-09-20 11:44] Andrewangeta commented on #127
No Xcode 13? Because this is a decoding issue dealing with the expandable property wrappers on swift 5.5. https://github.com/vapor-community/stripe-kit/issues/130

[2021-09-20 12:00] svanimpe commented on #127
I do have Xcode 13 beta installed, but `xcode-select` points to Xcode 12.5

[2021-09-20 12:16] Andrewangeta commented on #127
It's definitely a decoding error. And that "super" call points to an expandable property wrapper. Check your stripe logs in test mode to see if a response coming back that's proper or what actually comes back

[2021-09-20 14:24] svanimpe commented on #127
Here's one of the failing requests:

[code]

The response was:

[code]

The response from Stripe was a 200 OK.

[2021-11-08 19:17] winsmith commented on #127
I'm getting the same error:  `Value of type 'UnkeyedDecodingContainer' required for key 'customerDetails.super'.` However, I'm only setting the bare minimum, not even the customer email address.

This one is definitely not compiled with Swift 5.5, since I'm compiling it on the server:

[code]

Here's the data that triggers the error:

[code]

[2021-11-08 19:40] Andrewangeta commented on #127
@winsmith Which version of stripe are you using? Update to 13.0.0

[2021-11-08 19:42] Andrewangeta commented on #127
@svanimpe @winsmith This was an error with how expandable property wrappers were being decoded but it's been fixed. Try updating to latest version of stripe.

[2021-11-08 19:43] winsmith commented on #127
You're right, I was on 11.0. Thanks. The error is no longer there for me 😅

[2021-11-09 12:21] svanimpe commented on #127
Same here. Fixed by upgrading to Stripe 13

[2021-11-09 12:21] #127 closed, assigned to nobody